<h3>
  Simple Demo
</h3>

<p *ngIf="appService.actions as actions">
  <button type="text" (click)="actions.inc.dispatch(null)">Inc</button>
  <button type="text" (click)="actions.dec.dispatch(null)">Dec</button>
  <button type="text"
    (click)="actions.addMessage.dispatch({m: 'Message: hello, the counter is ' + appService.store.state.val.count })">Message2
  </button>
</p>

<ng-container *ngIf="appService.state$ | async as state">

  <p>
    {{state.message}}
  </p>

  <p>
    {{state.count}}
  </p>

  <p style="color:blue">
    {{state.warning}}
  </p>

</ng-container>
